<div class="upper-block">
  <div class="row show-title">
    <div class="small-4 columns">
      <%= image_tag("meni-large.png") %>
    </div>
    <h1><span><%= @shop.name %></span></h1>
  </div>
</div>
<div class="content-block">
  <div class="row">
    <h2 class="text-center">MENU</h2>
    <div class="row text-center icons">
      <%= image_tag("plate-icon.png") %>
      <%= image_tag("spoonandfork.png") %>
      <%= image_tag("salad-icon.png") %>
    </div>
    <% @items.each do |item| %>
      <div class="large-6 columns">
        <div class="small-8 columns">
          <div class="row">
            <div class="small-8 columns">
              <h4><%= item.name %></h4>
            </div>
            <div class="small-4 columns">
              <h4><%= item.price %><h4>
            </div>
          </div>
          <div class="row">
            <%= item.description %>
          </div>
        </div>
        <div class="small-4 columns">
          <br>
          <p><%= button_to 'edit item', edit_admin_shop_item_path(item.shop, item), class: :button, method: :get%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
