<div class="row">
  <div class="large-6 columns">
    <%= form_for [:admin, @shop] do |f|  %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :street_address %><br>
      <%= f.text_area :street_address %>
    </p>

    <p>
      <%= f.label :city %><br>
      <%= f.text_area :city %>
    </p>

    <p>
      <%= f.label :state %><br>
      <%= f.select :state, options_for_select(CountryStateSelect::Constant::USA_STATES) %>
    </p>

    <p>
      <%= f.label :zip_code %><br>
      <%= f.text_area :zip_code %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :phone %><br>
      <%= f.text_area :phone %>
    </p>

    <p>
      <%= f.label :reservations %><br>
      <%= f.select :reservations, [['No', false], ['Yes', true]] %>
    </p>

    <p>
      <%= f.label :delivery %><br>
      <%= f.select :delivery, [['No', false], ['Yes', true]] %>
    </p>

    <div class="field">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>

    <p>

      <%= f.submit 'create / update restaurant', class: "button" %>
    </p>
    <% end %>
  </div>
</div>
