<div class="upper-block">

<div class="row show-title">
      <div class="small-4 columns">
        <%= image_tag("meni-large.png") %>
      </div>

        <h1><span><%= @shop.name %></span></h1>



    </div>
  </div>
<div class="content-block">
  <div class= "row">
    <%= link_to 'view  open orders', admin_shop_orders_path(@shop), class: "button"  %>
    <%= link_to 'view  todays orders', admin_shop_orders_path(@shop, today: true ), class: "button"  %>
    <%= link_to 'view all orders', admin_shop_orders_path(@shop, all: true ), class: "button"  %>
    <%= link_to 'create menu', new_shop_item_path(@shop), class: "button"  %>
    <%= button_to 'edit restaurant', edit_shop_path(@shop), method: :get, class: "button"  %>
    <%= link_to 'view weeks sales by day', admin_shop_charts_path(@shop), class: "button"  %>
    <%= link_to 'view revenue by item', admin_shop_charts_path(@shop), class: "button" %>
  </div>
</div>
