</div>

  <div class="upper-block">

<div class="row show-title">
      <div class="small-4 columns">
        <%= image_tag("meni-large.png") %>
      </div>

        <h3><span><%= @shop.name %></span></h3>



    </div>
  </div>
  <div class="black-block">
  <div class="row white-container">
    <div class="small-6 columns">
<%= image_tag(@shop.photo.url) %>
  </div>
  <div class="small-6 columns">
    <h3 class="text-center"> Description </h3>
        <h4><%= @shop.description %></h4>

      </div>
  </div>

<div class="row shop-info">
  <div class="small-3 columns">
     <p>Address: <%= @shop.street_address %></p>
      <p>City: <%= @shop.city %></p>
      <p>State: <%= @shop.state %></p>
      <p>Zip: <%= @shop.zip_code %></p>
    </div>
  <div class="small-3 columns">
      <p>Reservations: <%= @shop.reservations ? "Yes" : "No" %></p>
      <p>Delivery: <%= @shop.delivery ? "Yes" : "No" %></p>
      <p>Phone: <%= @shop.phone %></p>
  </div>

      <div class="small-4 columns">

        <%= form_for [@shop,@order], url: shop_orders_path(@shop), method: :create do |f|  %>

  <p>
    <%= f.label :table_number %>
    <%= f.text_field :table_number %>
  </p>
  <p>

    <%= f.submit 'open order', class: "button" %> &nbsp;&nbsp;<%= link_to 'view menu', shop_items_path(@shop), class: "button" %>
  </p>
<% end %>

      </div>
    </div>
  </div>




