<div class="upper-block">

<div class="row show-title">
      <div class="small-4 columns">
        <%= image_tag("meni-large.png") %>
      </div>

        <h1><span><%= @shop.name %></span></h1>



    </div>
  </div>
<div class="content-block">
  <div class= "row">


<table>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Servername / Username</th>
      <th>Table Number</th>
      <th>Order Status</th>
      <th>Payment Status</th>
      <th>Order Total</th>
      <th>Change Status</th>
      <th>Delete Order</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to order.id, shop_order_path(order.shop, order) %></td>
      <td> <%= order.user.email %></p>
        <td> <%= order.table_number %></p>
          <td> <%= order.order_status %></td>
          <td> <%= order.paid ? "paid" : "unpaid" %></p>
            <td>$<%= order.total_price %></td>
            <td> <%= link_to 'change order status to fulfilled', edit_admin_shop_order_path(order.shop, order, order_status: "fulfilled") %> </td>
            <td> <%= link_to 'delete order', admin_shop_order_path(order.shop, order),method: :delete %> </td>
          </tr>
          <% end %>

        </tbody>
      </table>
</div>
</div>
